@font-face {
    font-family: "confortaa";
    src: url("assets/fonts/Comfortaa-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    font-family: confortaa;
    background-color: #8F2D56;
    color: whitesmoke;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;
}

header>section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.header-link {
    color: white;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
    font-size: medium;
}

.header-link:hover {
    box-shadow:
        inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4),
        0 0 0 10px hsla(0, 0%, 100%, 0.4);
}

code {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: whitesmoke;
    padding: 1rem 2rem;
}

.underscore {
    animation: blink 1.2s ease infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

footer {
    color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    width: 75%;

}

footer>p {
    padding: 2rem 0;
    margin: 5rem;
    font-size: 1.5rem;
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    min-width: 175px
}

.footer-child-1 {
    box-shadow: 15px 15px 25px 1px #000;
}

.footer-child-2 {
    box-shadow: 0 15px 25px 1px #000;
}

.footer-child-3 {
    box-shadow: -15px 15px 25px 1px #000;
}

.card-container {
    padding: 2rem 0;
    height: 400px;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    /* transform: translateY(50%); */
    perspective: 1000px;
}

.card {
    min-width: 325px;
    display: flex;
    flex-direction: column;
    transform: rotateX(35deg) scale(0.7) translateY(-50%);
    border: 2px solid #0f2027;
    transition: .5s all ease-out;
}

.card:hover {
    transform: rotate(0deg) scale(0.8) translateY(-100px);
}

.card-1 {
    box-shadow:
        1px 1px 0px #203a43,
        2px 2px 0px #203a43,
        3px 3px 0px #203a43,
        4px 4px 0px #203a43,
        5px 5px 0px #203a43,
        6px 6px 0px #203a43,
        7px 7px 0px #203a43,
        8px 8px 0px #203a43,
        9px 9px 0px #203a43,
        10px 10px 0px #0f2027,
        15px 15px 10px 1px #000;
}

.card-2 {
    box-shadow:
        0 1px 0px #203a43,
        0 2px 0px #203a43,
        0 3px 0px #203a43,
        0 4px 0px #203a43,
        0 5px 0px #203a43,
        0 6px 0px #203a43,
        0 7px 0px #203a43,
        0 8px 0px #203a43,
        0 9px 0px #203a43,
        0 10px 0px #0f2027,
        0 15px 10px 1px #000;
}

.card-2:hover {
    box-shadow:
        0px 15px 20px 1px #000;
}

.card-3 {
    box-shadow:
        -1px 1px 0px #203a43,
        -2px 2px 0px #203a43,
        -3px 3px 0px #203a43,
        -4px 4px 0px #203a43,
        -5px 5px 0px #203a43,
        -6px 6px 0px #203a43,
        -7px 7px 0px #203a43,
        -8px 8px 0px #203a43,
        -9px 9px 0px #203a43,
        -10px 10px 0px #0f2027,
        -15px 15px 10px 1px #000;
}


.card-img {
    max-width: 100%;
}

.card-details {
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    padding: 2rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.card-details>h3 {
    text-align: center;
    text-shadow: 0px 0px 10px #eee;
    color: #eee;
    letter-spacing: 2px;
}

.card-details>p {
    margin-top: 10px;
    color: whitesmoke;
    font-size: larger;
}

.card-details>a {
    margin-top: 10px;
    color: black;
    background-color: whitesmoke;
    font-size: larger;
    text-decoration: none;
    padding: 1rem 2rem;
    text-align: center;
}

.card-details>a:hover {
    color: whitesmoke;
    background-color: black;
}

.logo-section {
    margin: 20px 0;
    display: flex;
    gap: 10px;
}

@media (max-width: 1200px) {
    footer>p {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    body, html {
        height: auto;
    }

    header {
        padding: 0.5rem;
        font-size: 0.90rem;
    }

    footer {
        display: none;
    }

    .card-container {
        width: 90%;
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
        gap: 75px;
        perspective: none;
        margin-top: -25px;
        padding: 2rem;
    }

    .card {
        max-width: 450px;
        transform: rotateX(0) scale(1) translateY(0);
    }

    .card:hover {
        transform: rotateX(0) scale(1) translateY(0);
    }
}